.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: min(100%, 600px);
    height: 100%;
    padding: 2rem 1rem;
    /* border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); */
  }

  .heading {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.6rem;
    font-weight: 700;
    color: #00ff7f;
    margin-bottom: 2rem;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.9);
  }
  
  .list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-height: 40%;
    max-height: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: rgba(200, 137, 230, 0.1);
    border: 1.5px solid rgba(200, 137, 230, 0.637);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    color: #fff;
  }
  
  .projectImageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px; 
  }
  
  .projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px; 
  }
  
  .projectInfo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .projectTitle {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.3rem;
    font-weight: bold;
    color: #00ff7f;
    margin: 0;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.9);
  }
  
  .projectDescription {
    font-family: 'Roboto', 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffffb6; /* Лёгкий серый цвет */
  }

  .tecnologies {
    display: flex;
    flex-wrap: wrap; /* Перенос тегов на новую строку, если не хватает места */
    gap: 0.5rem; /* Расстояние между тегами */
    margin-top: 1rem; /* Отступ от описания */
    padding: 0;
    list-style: none; /* Убираем маркеры списка */
  }
  
  .projectTag {
    flex:1;
    text-align: center;
    padding: 0.4rem 0.8rem; /* Внутренний отступ для размера тегов */
    border-radius: 8px; /* Скругленные углы */
    background-color: rgba(0, 255, 127, 0.1); /* Полупрозрачный фон с акцентным цветом */
    color: #00ff7f; /* Цвет текста тега */
    font-family: 'Roboto', 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7); /* Тень текста */
    white-space: nowrap; /* Отключаем перенос текста внутри тега */
  }
  
  .projectLinks {
    margin-top: 1rem; /* Отступ от текста */
    display: flex;
    justify-content: space-between; /* Разделение ссылок */
    gap: 1rem; /* Расстояние между ссылками */
  }
  
  .projectLinks a {
    display: block;
    border: 1.5px solid rgba(200, 137, 230, 0.637);
    background-color: rgba(200, 137, 230, 0.1);
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-family: 'Roboto', 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #00ff7f; /* Цвет ссылок */
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .projectLinks a:hover {
    background-color: rgba(200, 137, 230, 0.637);
    color: #ffffff; /* Белый цвет при наведении */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60px;
    height: 100px; */
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 95, 47, 0.05);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .arrow:hover {
    transform: scale(1.05) translateY(-50%);
  }

  .arrow:active {
    transform: scale(0.95) translateY(-50%);
  }

  .arrowStart {
    left: 0;
  }

  .arrowEnd {
    right: 0;
  }

  @media screen and (max-width: 768px) {

    .project {
      padding: 1.5rem;
    }

    .projectTitle {
      font-size: 1.5rem;
    }
    
    .projectDescription {
      font-size: 1.3rem;
    }

    .projectTag {
      font-size: 1rem;
    }

    .projectLinks a {
      font-size: 1.2rem;
      padding: 0.6rem 1.1rem;
    }
  }

  @media screen and (max-width: 440px) {

    .project {
      padding: 2.5rem;
    }

    .projectTitle {
      font-size: 2.1rem;
    }
    
    .projectDescription {
      font-size: 1.8rem;
    }

    .projectTag {
      font-size: 1.4rem;
    }

    .projectLinks a {
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
    }
  }