.sidebar {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100dvh;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(2px);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.5);
    /* color: #fff; */
}

.logoContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.logoLink {
    width: 140px;
    height: 50px;
    overflow: hidden;
    background-image: url('/src/assets/nkt-logo.png');
    background-size: cover;
    background-position: center;
}

.menu {
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.resume {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumeLink {
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #00ff8093;
    border-top: 1px solid #00ff8093;
}



.sotialsToolBar {
    display: flex;
    align-self: start;
}

.sotialsBarToogler {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00ff7f;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.sotialsBarToogler:hover {
    color:#ff3300c8;
}

.sotials {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(2px);
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    /* transition: transform 0.3s ease-in-out; */
}

.sotials a {
    display: block;
    color: antiquewhite;
}

.link {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.362);
    padding: 2.5rem 0; */
}



.linkIcon {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.linkIcon svg {
    transition: color 0.3s ease-in-out;
}

.linkText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.9);
    color: #00ff7f;
    opacity: 0;
    transition: opacity 0.3s;
}

.link:hover .linkIcon {
    opacity: 0;
}

.link:hover .linkText {
    opacity: 1;
}

@media screen and (max-width: 1050px) {
    .sidebar {
        width: 70px;
    }

    .sotialsBarToogler {
        width: 70px;
    }

    .logoLink {
        width: 100px;
        height: 50px;
    }
  }
  

@media screen and (max-width: 768px) {
    

    .menu {
        gap: 0;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        background-color: rgba(0, 0, 0, 0.362);
        padding: 4rem 0;
        border:rgba(0, 0, 0, 0.362) 1px solid;

    }
    
}

@media screen and (max-width: 440px) {

    .sidebar {
        width: 50px; 
    }

    .sotialsBarToogler {
        width: 50px;
    }

    .logoLink {
        width: 70px;
        height: 50px;
    }

    .link {
        font-size: 1.8rem;
        padding: 5rem 0;

    }

    .resume {
        font-size: 1.8rem;
        padding-bottom: 6rem;
    }

    .sotialsBarToogler {
        gap: 0.5rem;
        font-size: 1.8rem;
        
    }

    .sotials {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 440px) and (min-device-pixel-ratio: 2) {
    .sidebar {
        box-shadow: 0 2px 5px #00000021 /* Для Retina-дисплеев */
    }
}

@supports (height: 100svh) {
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 1024px) and (hover: none) {
  
      .sidebar {
        height: 100svh;
    }
  }
}